a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    overflow: hidden;
}

footer {
    flex-shrink: 0;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.hover-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100vh;
    z-index: 1100;
}

    .hover-trigger:hover ~ #sidebar,
    #sidebar:hover {
        transform: translateX(0);
    }

#sidebar-toggle:checked ~ .wrapper #sidebar {
    transform: translateX(0);
}

#sidebar-toggle:not(:checked) ~ .wrapper .perm {
    display: none;
}

#sidebar-toggle:not(:checked) ~ .wrapper .not-perm {
    display: inline-block;
}

#sidebar-toggle:checked ~ .wrapper .perm {
    display: inline-block;
}

#sidebar-toggle:checked ~ .wrapper .not-perm {
    display: none;
}
