html {
  font-size: 14px;
}

:root {
    --bg-body: #fdfaf8;
    --bg-sidebar: #f5efe6;
    --bg-footer: #f5efe6;
    --text-main: #3e2723;
    --text-muted: #8d7773;
    --primary-action: #a67c52;
    --border-color: #e3d5ca;
}

[data-theme='dark'] {
    color-scheme: dark;
    --bg-body: #121212;
    --bg-sidebar: #1e1e1e;
    --bg-footer: #1e1e1e;
    --text-main: #f5f5f5;
    --text-muted: #888888;
    --primary-action: #ff4d00;
    --border-color: #262626;
}


body {
    background-color: var(--bg-body);
    color: var(--text-main);
}

#sidebar {
    background-color: var(--bg-sidebar);
    border-right: 1px solid var(--border-color);
}

.btn-primary {
    background-color: var(--primary-action) !important;
    border-color: var(--primary-action) !important;
}

a {
    color: var(--primary-action);
}

.table {
    color: var(--text-main);
    border-color: var(--text-main);
}

.border-top, .border-bottom {
    border-color: var(--border-color) !important;
}

.btn-theme-menu {
    font-weight: 500;
    border-color: var(--border-color);
    color: var(--text-main);
    background-color: var(--bg-sidebar);
}

.btn-theme-menu:hover {
    color: var(--primary-action);
    border-color: var(--primary-action);
    background-color: transparent;
}
footer {
    background-color: var(--bg-footer);
}
.footer-text, .footer-text div {
    color: var(--text-muted) !important;
}
.nav-item {
    background-color: var(--bg-sidebar);
    border-radius: .25rem;
    margin-top: 2px;
}
.nav-item:hover {
    background-color: var(--bg-body);
}
.nav-link {
    color: var(--text-muted) !important;
}
.nav-link:hover {
    color: var(--text-main) !important;
}
.active {
    background-color: var(--bg-body) !important;
    color: var(--text-main) !important;
    border: 3px solid var(--border-color) !important;
}
#themeSelector {
    background-color: var(--bg-body);
    color: var(--text-main);
    border: 1px solid var(--border-color);
    outline: none;
    box-shadow: none;
}
#themeSelector:focus {
   
    outline: none;
    border-color: var(--border-color);
    background-color: var(--bg-body);
    color: var(--text-main);
}

.card-header {
    background-color: var(--bg-sidebar);
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}